.spinner {
    font-size: 2.5rem;
    color: var(--primary);
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}